<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<servlet>
		<description></description>
		<display-name>JSONCustomReceiver</display-name>
		<servlet-name>JSONCustomReceiver</servlet-name>
		<servlet-class>com.itextos.beacon.web.generichttpapi.servlet.JSONCustomReceiver</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>JSONGenericReceiver</display-name>
		<servlet-name>JSONGenericReceiver</servlet-name>
		<servlet-class>com.itextos.beacon.web.generichttpapi.servlet.JSONGenericReceiver</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>QSCustomReceiver</display-name>
		<servlet-name>QSCustomReceiver</servlet-name>
		<servlet-class>com.itextos.beacon.web.generichttpapi.servlet.QSCustomReceiver</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>QSGenericReceiver</display-name>
		<servlet-name>QSGenericReceiver</servlet-name>
		<servlet-class>com.itextos.beacon.web.generichttpapi.servlet.QSGenericReceiver</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>XMLReceiver</display-name>
		<servlet-name>XMLReceiver</servlet-name>
		<servlet-class>com.itextos.beacon.web.generichttpapi.servlet.XMLReceiver</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>MJsonRequestReceiver</display-name>
		<servlet-name>MJsonRequestReceiver</servlet-name>
		<servlet-class>com.itextos.beacon.web.migration.servlet.MJsonRequestReceiver</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>MQSRequestReceiver</display-name>
		<servlet-name>MQSRequestReceiver</servlet-name>
		<servlet-class>com.itextos.beacon.web.migration.servlet.MQSRequestReceiver</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>InitServlet</display-name>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>com.itextos.beacon.web.generichttpapi.servlet.InitServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description></description>
		<display-name>ErrorServlet</display-name>
		<servlet-name>ErrorServlet</servlet-name>
		<servlet-class>com.itextos.beacon.commonlib.apperrorhandler.servlets.ErrorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ErrorServlet</servlet-name>
		<url-pattern>/errorservlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ExceptionServlet</display-name>
		<servlet-name>ExceptionServlet</servlet-name>
		<servlet-class>com.itextos.beacon.commonlib.apperrorhandler.servlets.ExceptionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitServlet</servlet-name>
		<url-pattern>/InitServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JSONCustomReceiver</servlet-name>
		<url-pattern>/JSONCustomReceiver</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JSONGenericReceiver</servlet-name>
		<url-pattern>/JSONGenericReceiver</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QSCustomReceiver</servlet-name>
		<url-pattern>/QSCustomReceiver</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QSGenericReceiver</servlet-name>
		<url-pattern>/QSGenericReceiver</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XMLReceiver</servlet-name>
		<url-pattern>/XMLReceiver</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MJsonRequestReceiver</servlet-name>
		<url-pattern>/MJsonRequestReceiver</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MQSRequestReceiver</servlet-name>
		<url-pattern>/MQSRequestReceiver</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExceptionServlet</servlet-name>
		<url-pattern>/exceptionservlet</url-pattern>
	</servlet-mapping>

	<error-page>
		<location>/errorservlet</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/exceptionservlet</location>
	</error-page>
</web-app>